@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

*{
    box-sizing: border-box;
}   
h1{
    font-family: 'Montserrat Subrayada', sans-serif;
}
.mapa {
    height: 100vh;
    width: 100hw;
}
.titulo__pagina {
    margin-bottom: auto;
    text-align: left;
    font-size: 70px;
    color: #fff;
    background: rgba(76,76,76,1);
    text-align: center;
    letter-spacing: 5px;
    margin: 0px
    
    
}
